<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header" id="header">
			Orders
		</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" ng-if="isCurrentAction('list')">
				<i class="fa fa-dropbox"></i> Orders
			</li>
			<li class="breadcrumb-item" ng-if="!isCurrentAction('list')">
                <a href="" ng-click="showList()"><i class="fa fa-dropbox"></i> Orders</a>
            </li>
			<li class="breadcrumb-item active" ng-if="isCurrentAction('edit')">
                <i class="fa fa-pencil"></i> Edit
            </li>
            <li class="breadcrumb-item active" ng-if="isCurrentAction('create')">
                <i class="fa fa-pencil"></i> Create
            </li>
		</ol>
	</div>
</div>

<div class="row" ng-if="error !== null">
    <div class="col-lg-12">
    	<div class="alert alert-danger">
    		{{error}}
    	</div>
    </div>
</div>

<div class="row" ng-if="isCurrentAction('list')">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orders</h3>
            </div>
            <div class="panel-body">
				<a uib-popover-template="'createOrderPopover.html'"
				   popover-title="Create an order"
				   popover-class="create-order-popover"
				   popover-placement="right"
				   class="btn btn-primary">
				   	<i class="fa fa-plus"></i> New order
			    </a>
				<script type="text/ng-template" id="createOrderPopover.html">
					<div>
						<div class="form-group">
							<label for="inputOrderType" class="control-label">Order type</label>
							<select id="inputOrderType"
									ng-options="value for (key, value) in orderTypes"
									ng-model="createOrderOptions.orderType"
									class="form-control"
									required>
								<option value="">Select one</option>
							</select>
						</div>
						<div class="form-group">
							<label for="inputStorage" class="control-label">Storage</label>
							<select id="inputStorage"
									ng-options="storage as storage.name for storage in storages track by storage.id"
									ng-model="createOrderOptions.storage"
									class="form-control"
									required>
								<option value="">Select one</option>
							</select>
						</div>
						<div class="form-group">
							<button ng-disabled="!canCreateOrder()" ng-click="createOrder()" class="btn btn-success btn-block">
								Create
							</button>
						</div>
					</div>
				</script>
				<hr>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
								<th style="width: 130px">Reference</th>
								<th style="width: 140px">Storage</th>
                                <th>Customer</th>
								<th style="width: 200px">Created</th>
                                <th style="width: 150px; text-align: right;">Total</th>
								<th style="width: 60px; text-align: center;">Paid</th>
                                <th style="width: 100px; text-align: right"><i class="fa fa-wrench"></i></th>
                            </tr>
                        </thead>
                        <tbody>
							<tr>
								<td>
									<select id="inputOrderType"
											ng-options="value for (key, value) in orderTypes"
											ng-model="orderFilter.orderType"
											class="form-control input-sm"
											required>
										<option value="">Select one</option>
									</select>
								</td>
								<td>
									<select id="inputStorage"
											ng-options="storage as storage.name for storage in storages track by storage.id"
											ng-model="orderFilter.storage"
											class="form-control input-sm"
											required>
										<option value="">Select one</option>
									</select>
								</td>
								<td>
									<input type="text" ng-model="orderFilter.customerName" class="form-control input-sm">
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
                            <tr ng-repeat="order in filteredOrders = (orders | filter:orderFilter)">
								<td>{{order.reference}}</td>
								<td>{{order.storage.name}}</td>
                                <td>
									{{order.vat ? order.vat + ' - ' : ''}}
									{{order.customerName}}
								</td>
								<td>{{order.createdAt | date:'medium'}}</td>
                                <td style="text-align: right;">{{order.total | currency:'€' }}</td>
								<td style="text-align: center;">
									<i class="fa fa-check" ng-show="order.paid"></i>
									<i class="fa fa-times" ng-hide="order.paid"></i>
								</td>
                                <td style="text-align: right">
                                    <a class="btn btn-xs btn-primary" ng-click="editOrder(order.id)" uib-tooltip="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" ng-click="deleteOrder(order.id)" uib-tooltip="Delete">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="isCurrentAction('create') || isCurrentAction('edit')">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                  	<span ng-show="isCurrentAction('create')">Create a new order</span>
                  	<span ng-show="isCurrentAction('edit')">{{currentOrder.orderType}} - {{currentOrder.reference}} - {{currentOrder.customerName}}</span>
                </h3>
            </div>
            <form name="forms.orderForm" ng-submit="forms.orderForm.$valid && saveOrder()" novalidate>
	            <div class="panel-body">
					<h4>Customer info</h4>
					<div class="row">
		                <div class="form-group col-xs-8">
		                    <label for="inputCustomerName" class="control-label">Customer name</label>
		                    <input type="text" id="inputCustomerName" ng-model="currentOrder.customerName" class="form-control" required>
		                </div>
						<div class="form-group col-xs-4">
		                    <label for="inputVAT" class="control-label">NIF/CIF/VAT</label>
		                    <input type="text" id="inputVAT" ng-model="currentOrder.vat" class="form-control">
		                </div>
					</div>
					<hr>
					<h4>Billing Address</h4>
					<div class="form-group">
						<label for="inputAddress" class="control-label">Address</label>
						<input type="text" id="inputAddress" ng-model="currentOrder.billingAddress.line1" class="form-control">
					</div>
					<div class="row">
						<div class="form-group col-xs-3">
							<label for="inputPC" class="control-label">Postal Code</label>
							<input type="text" id="inputPC" ng-model="currentOrder.billingAddress.postalCode" class="form-control">
						</div>
						<div class="form-group col-xs-3">
							<label for="inputCity" class="control-label">City</label>
							<input type="text" id="inputCity" ng-model="currentOrder.billingAddress.city" class="form-control">
						</div>
						<div class="form-group col-xs-3">
							<label for="inputState" class="control-label">State</label>
							<input type="text" id="inputState" ng-model="currentOrder.billingAddress.state" class="form-control">
						</div>
						<div class="form-group col-xs-3">
							<label for="inputCountry" class="control-label">Country</label>
							<input type="text" id="inputCountry" ng-model="currentOrder.billingAddress.country" class="form-control">
						</div>
					</div>
					<hr>
					<h4>Shipping Address</h4>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input ng-model="currentOrder.useBillingAddressForShipping" type="checkbox"> The same as billing address.
							</label>
						</div>
					</div>
					<div ng-hide="currentOrder.useBillingAddressForShipping === true">
						<div class="form-group">
							<label for="inputAddress" class="control-label">Address</label>
							<input type="text" id="inputAddress" ng-model="currentOrder.shippingAddress.line1" class="form-control">
						</div>
						<div class="row">
							<div class="form-group col-xs-3">
								<label for="inputPC" class="control-label">Postal Code</label>
								<input type="text" id="inputPC" ng-model="currentOrder.shippingAddress.postalCode" class="form-control">
							</div>
							<div class="form-group col-xs-3">
								<label for="inputCity" class="control-label">City</label>
								<input type="text" id="inputCity" ng-model="currentOrder.shippingAddress.city" class="form-control">
							</div>
							<div class="form-group col-xs-3">
								<label for="inputState" class="control-label">State</label>
								<input type="text" id="inputState" ng-model="currentOrder.shippingAddress.state" class="form-control">
							</div>
							<div class="form-group col-xs-3">
								<label for="inputCountry" class="control-label">Country</label>
								<input type="text" id="inputCountry" ng-model="currentOrder.shippingAddress.country" class="form-control">
							</div>
						</div>
					</div>
					<hr>
	                <h4>Products</h4>
					<div class="checkbox">
						<label>
							<input ng-model="options.showTaxes" type="checkbox"> Show taxes in prices.
						</label>
					</div>
	                <table class="table table-hover table-striped">
						<thead>
							<tr>
								<th style="width: 80px"># Ref.</th>
								<th style="width: 140px">Ean</th>
	                    		<th>Name</th>
	                    		<th style="width: 140px; text-align: right;">Price</th>
	                    		<th style="width: 80px; text-align: center;">Discount</th>
								<th style="width: 80px; text-align: center;">Units</th>
								<th style="width: 100px; text-align: right;">Total</th>
								<th style="width: 80px; text-align: right"><i class="fa fa-wrench"></i></th>
	                    	</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in currentOrder.products">
								<td>{{product.reference}}</td>
                                <td>{{product.ean}}</td>
								<td>{{product.name}}</td>
								<td style="text-align: right;">
								    {{getPrice(product.price) | currency:'€'}}
								</td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" ng-change="recalculate()" class="form-control input-sm" style="text-align: center" placeholder="Discount" ng-model="product.discount" />
                                    </div>
                                </td>
								<td>
								    <div class="input-group">
								        <input type="text" ng-change="recalculate()" class="form-control input-sm" style="text-align: center" placeholder="Units" ng-model="product.units" required />
								    </div>
								</td>
								<td style="text-align: right;">
									{{getPrice(product.total) | currency:'€'}}
								</td>
								<td style="text-align: right">
	                                <a class="btn btn-xs btn-danger" ng-click="deleteProduct($index)" uib-tooltip="Delete">
	                                    <i class="fa fa-times"></i>
	                                </a>
								</td>
							</tr>
						</tbody>
	                </table>
					<div class="form-group">
						<input type="text"
							   id="inputCountry"
							   placeholder="Search product..."
							   uib-typeahead="product.displayName for product in products | filter:$viewValue | limitTo:12"
							   typeahead-editable="false"
							   typeahead-on-select="addProduct($item); productSearch = '';"
							   typeahead-min-length="3"
							   ng-model="productSearch"
							   class="form-control">
					</div>
					<hr>
	                <div class="form-group">
	                    <label for="inputNotes" class="control-label">Notes</label>
	                    <textarea id="inputNotes" ng-model="currentOrder.notes" class="form-control"></textarea>
	                </div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="form-group">
								<label class="form-label">Discount</label>
								<div class="input-group">
									<input type="text" class="form-control" style="text-align: right" placeholder="Discount" ng-change="recalculate()" ng-model="currentOrder.discount" />
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<div class="form-group">
								<label class="form-label">Sipping</label>
								<div class="input-group">
									<input type="text" class="form-control" style="text-align: right" placeholder="Shipping" ng-change="recalculate()" ng-model="currentOrder.shipping" />
									<span class="input-group-addon">€</span>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<h4>Details</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<ul class="list-group total">
								<li class="list-group-item">
									<span class="caption">Subtotal:</span> {{currentOrder.subtotal | currency:'€' }}
								</li>
								<li class="list-group-item list-group-item-warning" ng-show="currentOrder.discount">
									<span class="caption">Discount:</span> -{{currentOrder.subtotal * currentOrder.discount / 100 | currency:'€' }}
								</li>
								<li class="list-group-item">
									<span class="caption">Shipping:</span> {{currentOrder.shipping | currency:'€' }}
								</li>
								<li class="list-group-item" ng-repeat="tax in currentOrder.taxes">
									<span class="caption">{{tax.name}}:</span> {{tax.value | currency:'€' }}
								</li>
								<li class="list-group-item list-group-item-success">
									<span class="caption">Total:</span> {{currentOrder.total | currency:'€'}}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-primary" ng-disabled="!forms.orderForm.$valid" type="submit"><i class="fa fa-save"></i> Save</button>
				</div>
            </form>
        </div>
    </div>
</div>
