<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Products
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" ng-if="isCurrentAction('list')">
                <i class="fa fa-star"></i> Products
            </li>
            <li class="breadcrumb-item" ng-if="!isCurrentAction('list')">
                <a href="" ng-click="showList()"><i class="fa fa-star"></i> Products</a>
            </li>
			<li class="breadcrumb-item active" ng-if="isCurrentAction('stock')">
                <i class="fa fa-tasks"></i> Stock
            </li>
            <li class="breadcrumb-item active" ng-if="isCurrentAction('edit')">
                <i class="fa fa-pencil"></i> Edit
            </li>
            <li class="breadcrumb-item active" ng-if="isCurrentAction('create')">
                <i class="fa fa-pencil"></i> Create
            </li>
        </ol>
    </div>
</div>

<div class="row" ng-if="error != null">
    <div class="col-lg-12">
    	<div class="alert alert-danger alert-dismissible">
			<a href="javascript:;" ng-click="$scope.error = null" class="close"><i class="fa fa-times"></i></a>
    		<span ng-if="!isObject(error)">{{error}}</span>
			<ul ng-if="isObject(error)">
				<li ng-repeat="e in error">{{e}}</li>
			</ul>
    	</div>
    </div>
</div>

<div class="row" ng-if="isCurrentAction('list')">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Products</h3>
            </div>
            <div class="panel-body">
				<a href="javascript:;" ng-click="createProduct()" class="btn btn-primary"><i class="fa fa-plus"></i> Create product</a>
				<hr>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="width: 120px">Reference</th>
                                <th>Product name</th>
                                <th style="width: 60px; text-align: center;">Featured</th>
								<th style="width: 160px">Brand</th>
								<th style="width: 120px">Category</th>
                                <th style="width: 100px">Price</th>
                                <th style="width: 140px; text-align: right"><i class="fa fa-wrench"></i></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="product in products">
                            <tr>
                                <td>{{product.reference || 'N/A'}}</td>
                                <td>{{product.name}}</td>
								<td style="text-align: center">
									<i class="fa fa-check" ng-show="product.featured"></i>
									<i class="fa fa-times" ng-hide="product.featured"></i>
								</td>
								<td>{{product.brand.name}}</td>
								<td>{{product.category.name}}</td>
                                <td>{{product.price | currency:'€'}}</td>
                                <td style="text-align: right">
                                    <a class="btn btn-xs btn-success" ng-click="manageStock($index)" uib-tooltip="Check / manage stock">
                                        <i class="fa fa-tasks"></i>
                                    </a>
                                    <a class="btn btn-xs btn-primary" ng-click="editProduct($index)" uib-tooltip="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" ng-click="deleteProduct($index)" uib-tooltip="Delete">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="isCurrentAction('stock')">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{currentProduct.name}}
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px">Reference</th>
                            <th style="width: 160px">EAN</th>
                            <th>Name</th>
                            <th style="text-align: center" ng-repeat="storage in storages">
                                {{storage.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in currentProduct.options">
                            <td>{{option.reference}}</td>
                            <td>{{option.ean}}</td>
                            <td>{{option.name}}</td>
                            <td style="text-align: center; width: 160px;" ng-repeat="storage in storages">
								<span ng-hide="isCurrentStock(option, storage)">
									{{getStock(option, storage).units}}
									<a href="javascript:;" class="btn btn-default btn-sm" ng-click="editStock(option, storage)">
										<i class="fa fa-pencil"></i>
									</a>
								</span>
								<span ng-show="isCurrentStock(option, storage)" class="input-group">
									<input type="text" ng-model="currentStock.units" class="form-control input-sm">
									<a href="javascript:;" ng-disable="savingStock" class="btn btn-success input-group-addon" ng-click="saveStock()">
										<i class="fa fa-check"3></i>
									</a>
								</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="isCurrentAction('create') || isCurrentAction('edit')">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                  	<span ng-show="isCurrentAction('create')">Create a new product</span>
                  	<span ng-show="isCurrentAction('edit')">{{currentProduct.name}}</span>
                </h3>
            </div>
            <form name="forms.productForm" ng-submit="forms.productForm.$valid && saveProduct()" novalidate>
	            <div class="panel-body">
	                <div class="form-group">
	                    <label for="inputName" class="control-label">Name</label>
	                    <input type="text" id="inputName" ng-model="currentProduct.name" class="form-control" required>
	                </div>
	                <div class="form-group">
	                    <label for="inputDescription" class="control-label">Description</label>
	                    <textarea id="inputDescription" ng-model="currentProduct.description" class="form-control" required></textarea>
	                </div>
					<div class="row">
						<div class="form-group col-xs-6">
	                        <label for="inputCategory" class="control-label">Category</label>
	                        <select ng-options="category.name for category in categories track by category.id" ng-model="currentProduct.category" class="form-control" id="inputCategory" required>
	                        	<option value="">-</option>
	                        </select>
	                    </div>
						<div class="form-group col-xs-6">
							<label for="inputBrand" class="control-label">Brand</label>
	                        <select ng-options="brand.name for brand in brands track by brand.id" ng-model="currentProduct.brand" class="form-control" id="inputBrand" required>
	                        	<option value="">-</option>
	                        </select>
	                    </div>
					</div>
                    <div class="form-group">
						<div class="checkbox">
						    <label>
						      	<input ng-model="currentProduct.featured" type="checkbox"> Featured
						    </label>
						</div>
	                </div>
					<hr>
	                <h4>Sizes / Colors</h4>
	                <table class="table table-hover table-striped">
						<thead>
							<tr>
	                    		<th>Name</th>
	                    		<th style="width: 160px">Price</th>
	                    		<th style="width: 140px">Discount</th>
								<th style="width: 80px; text-align: right"><i class="fa fa-wrench"></i></th>
	                    	</tr>
						</thead>
						<tbody>
							<tr ng-repeat="option in currentProduct.options">
								<td><input type="text" class="form-control" placeholder="Name" ng-model="option.name" required /></td>
								<td>
								    <div class="input-group">
								        <input type="text" class="form-control" style="text-align: right" placeholder="Price" ng-model="option.price" required />
                                        <span class="input-group-addon">€</span>
								    </div>
								</td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="text-align: right" placeholder="Discount" ng-model="option.discount" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </td>
								<td style="text-align: right">
	                                <a class="btn btn-xs btn-danger" ng-click="deleteOption($index)" uib-tooltip="Delete">
	                                    <i class="fa fa-times"></i>
	                                </a>
								</td>
							</tr>
						</tbody>
	                </table>
					<a href="javascript:;" ng-click="addOption()" class="btn btn-primary"><i class="fa fa-plus"></i> Add option</a>
                    <hr>
                    <h4>Images</h4>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th style="width: 300px">Image</th>
								<th>Products</th>
								<th style="width: 100px; text-align: right;"><i class="fa fa-wrench"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="image in currentProduct.images">
								<td>
									<img ng-src="{{staticUrl + '/products/' + image.file}}" style="width: 100%;">
								</td>
								<td>
									<ul>
										<li class="checkbox" ng-repeat="option in currentProduct.options">
										    <label>
										      	<input ng-model="image.options[$index]" value="true" type="checkbox"> {{option.name}}
										    </label>
										</li>
									</ul>
								</td>
								<td style="text-align: right;">
									<a href="javascript:;" ng-click="deleteImage($index)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
                    <a href="javascript:;"
					   ng-show="!uploading"
					   ng-model="imageUpload"
					   accept="image/*"
					   ngf-select="uploadFile($file, $invalidFiles)"
					   class="btn btn-primary">
						<i class="fa fa-plus"></i> Add image
				  	</a>
					<div class="upload-progress" ng-show="uploading">
						<div class="progress" ng-show="imageUpload.progress < 100">
							<div class="progress-bar" style="width: {{imageUpload.progress}}%">
								{{(imageUpload.progress || 0) + '%'}}
							</div>
						</div>
						<div ng-show="imageUpload.progress === 100">
							<i class="fa fa-spin fa-refresh"></i> Processing...
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-primary" ng-disabled="!forms.productForm.$valid || forms.productForm.$submitted" type="submit"><i class="fa fa-save"></i> Save</button>
				</div>
            </form>
        </div>
    </div>
</div>
